@page
@model Client.Pages.Admin.Product.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bi</title>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>aranoz</title>
    <link rel="icon" href="~/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body class="bg-light">
    <div class="container mt-4">
        <h1 class="mb-4">Product</h1>
        <div class="card p-4 shadow-sm">
            <!-- Search -->
            <div class="pb-3">
                <form class="d-flex" action="" method="get">
                    <input class="form-control me-1" type="search" name="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-secondary" type="submit">Search</button>
                </form>
            </div>

            <!-- Add -->
            <div class="pb-3">
                <a href="/Admin/Product/Create"  class="btn btn-primary">Add</a>
            </div>

            <!-- Table -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-md-1">Id</th>
                        <th class="col-md-2">CategoryId</th>
                        <th class="col-md-2">UnitsInStock</th>
                        <th class="col-md-2">Available</th>
                        <th class="col-md-1">BrandId</th>
                        <th class="col-md-1">Brand</th>
                        <th class="col-md-1">Category</th>
                        <th class="col-md-2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var listCategories in Model.Products)
                        {
                        <tr>
                            <td>@listCategories.Id</td>
                            <td>@listCategories.CategoryId</td>
                            <td>@listCategories.UnitsInStock</td>
                            <td>@listCategories.IsAvailable</td>
                            <td>@listCategories.BrandId</td>
                            <td>@listCategories.Brand</td>
                            <td>@listCategories.Category</td>
                            <td>
                                <a href='/Admin/Product/Update/@listCategories.Id' class="btn btn-warning btn-sm btn-edit-category">Edit</a>
                                <a class="btn btn-danger btn-sm" asp-page-handler="Delete" asp-route-Id="@listCategories.Id">Delete</a>
                            </td>
                        </tr>
                        }
                    </tr>
                </tbody>
            </table>
            <div class="row mb-3">
                <div class="col-md-12 text-end">
                    <a href="/Admin/Index" class="btn btn-secondary">Menu Admin</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>